.question-answer {
    border-bottom: 1px solid #ededed;
    border-top-color: rgba(255,255,255,1.00);
    border-right-color: #505050;
}

.question-answer {
    margin: 1em 0;
    border-bottom: 2px solid #EEE;
    line-height: 1;
    clear: both;
}

#sub {
	display: inline-block;
}
/* input text delle risposte */
.question-answer {
	padding: 20px 20px 20px 20px;
	width: 20%; 
}
/* bottone submit */

.sub-ques {
    font-size: 15px;
    line-height: 1.4;
	direction: ltr;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #ffffff;
    background-color: #7c6093;
}


.sub-ques {
    margin-left: 10px;
}
.sub-ques {
    border: none;
    font-weight: 400;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
    background: #bdc3c7;
}
.sg-button {
    cursor: pointer;
}
.sub-ques {
    box-sizing: border-box;
}
/* user agent stylesheet */
/* input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button { */
/*     padding: 1px 6px; */
/* } */
/* .sub-ques { */
/*     align-items: flex-start; */
/*     text-align: center; */
/*     cursor: default; */
/*     color: buttontext; */
/*     background-color: buttonface; */
/*     box-sizing: border-box; */
/*     padding: 2px 6px 3px; */
/*     border-width: 2px; */
/*     border-style: outset; */
/*     border-color: buttonface; */
/*     border-image: initial; */
/* } */
/* user agent stylesheet */
/* input[type="button" i], input[type="submit" i], input[type="reset" i] { */
/*     -webkit-appearance: push-button; */
/*     user-select: none; */
/*     white-space: pre; */
/* } */
/* user agent stylesheet */
/* input { */
/*     -webkit-appearance: textfield; */
/*     background-color: white; */
/*     -webkit-rtl-ordering: logical; */
/*     cursor: text; */
/*     padding: 1px; */
/*     border-width: 2px; */
/*     border-style: inset; */
/*     border-color: initial; */
/*     border-image: initial; */
/* } */
/* user agent stylesheet */
/* input, textarea, select, button { */
/*     text-rendering: auto; */
/*     color: initial; */
/*     letter-spacing: normal; */
/*     word-spacing: normal; */
/*     text-transform: none; */
/*     text-indent: 0px; */
/*     text-shadow: none; */
/*     display: inline-block; */
/*     text-align: start; */
/*     margin: 0em; */
/*     font: 400 13.3333px Arial; */
/* } */
/* user agent stylesheet */
/* input, textarea, select, button, meter, progress { */
/*     -webkit-writing-mode: horizontal-tb; */
/* } */
/* .sg-button-bar { */
/*     direction: rtl; */
/*     text-align: center; */
/* } */